.main {
  background-color: $grey;
  padding-top: 59px;
  padding-bottom: 131px;

  &__wrapper {
    width: 100%;
    max-width: $main-width;
    margin: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__cargo {
    margin-right: 45px;
  }

  &__chairs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 31px;
    margin-bottom: 71px;
  }

  &__contacts {
    display: flex;
    align-items: stretch;
    gap: 30px;

    @media(max-width: $bp900) {
      flex-direction: column;
    }
  }
}

.chair-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #fff;
  padding: 24px 30px;
  max-width: 90%;
  margin: 0 auto 30px;

  &__title {
    width: 100%;
    max-width: 195px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: $dark-grey;
  }

  &__cost {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
  }

  &__button {
    @include button($green, #fff, 39px, 7px, $green);
  }
}

.contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-height: 212px;
  color: #fff;
  background-color: $green;
  padding: 36px 40px;

  @media (max-width: $bp500) {
    justify-content: center;
  }

  &__left {
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 23px;

    @media (max-width: $bp500) {
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;

    @media (max-width: $bp500) {
      text-align: center;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $bp500) {
      text-align: center;
    }
  }

  &__image {
    width: 140px;
    height: 107px;

    @media (max-width: $bp500) {
      display: none;
    }
  }

  &__input {
    width: 100%;
    max-width: 225px;
    height: 35px;
    border: none;
    border-radius: 30px;
    padding: 0 26px;
    font-size: 14px;
  }

  &__button {
    @include button(#fff, #fff, 27px, 7px, $green);
  }
}
