.header {
  &__top {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: $grey;
    margin-bottom: 22px;
  }

  &__center {
    border-bottom: 1px solid $grey;
    padding-bottom: 17px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: $main-width;
      margin: auto;
    }
  }

  &__right {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__telephone {
    font-size: 16px;
    color: #000;
  }

  &__button {
    @include button();
  }

  &__bottom {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  &__image {
    margin-right: 15px;
  }

  &__text {
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: $green;
  }
}

.menu {
  display: flex;

  &_top {
    margin: auto;
    gap: 31px;
  }

  &_bottom {
    gap: 41px;
    color: #000;
  }
}

.menu__item {
  font-size: 14px;

  &_bottom {
    font-size: 16px;
  }
}
