.header {
  &__top {
    display: flex;
    align-items: center;
    padding: 18px 0;
    background-color: $grey;
    margin-bottom: 18px;
  }

  &__center {
    border-bottom: 1px solid $grey;
    padding-bottom: 17px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      max-width: $main-width;
      margin: auto;

      @media (max-width: $bp600) {
        flex-direction: column;
      }
    }
  }

  &__right {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__telephone {
    font-size: 16px;
    color: #000;
  }

  &__button {
    @include button();
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 0;
  }
}

.logo {
  &__image {
    margin-right: 15px;
  }

  &__text {
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
    color: $green;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  @media (max-width: $bp500) {
    flex-direction: column;
  }

  &_top {
    margin: auto;
    gap: 31px;

    @media (max-width: $bp500) {
      gap: 15px;
    }
  }

  &_bottom {
    gap: 41px;
    color: #000;

    @media (max-width: $bp500) {
      gap: 15px;
    }
  }
}

.menu__item {
  font-size: 14px;
  @media (max-width: $bp500) {
    text-align: center;
  }

  &_bottom {
    font-size: 16px;
  }
}
