.intro {
  background-color: $green;
  color: #fff;
  padding-top: 20px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $main-width;
    margin: auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 310px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
  }

  &__button {
    @include button(#fff, #fff, 45px, 10px);
  }

  &__image {
    width: 584px;
    height: 584px;
  }

  &__right {
    position: relative;
    margin-right: 69px;
    transform-style: preserve-3d;

    &::before {
      content: '';
      transform: translateZ(-1px);
      position: absolute;
      top: -24%;
      right: -24%;
      width: 859px;
      height: 859px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
    }

    &::after {
      content: '';
      transform: translateZ(-1px);
      position: absolute;
      top: -8%;
      right: -8%;
      width: 677px;
      height: 677px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
    }
  }
}

