<header class="header">
    <div class="header__top">
        <ul class="menu menu_top">
            <li class="menu__item"><a href="#">Доставка</a></li>
            <li class="menu__item"><a href="#">Оплата</a></li>
            <li class="menu__item"><a href="#">Отзывы</a></li>
            <li class="menu__item"><a href="#">Вопрос - ответ</a></li>
            <li class="menu__item"><a href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="header__center">
        <div class="header__center-wrapper">
            <a class="logo" href="#">
                <img class="logo__image" src="assets/img/logo.svg" alt="логотип">
                <h1 class="logo__text">Beauty</h1>
            </a>
            <div class="header__right">
                <a class="header__telephone" href="tel:+78121234567">8 (812) 123-45-67</a>
                <a href="#" class="header__button">Обратный звонок</a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <ul class="menu menu_bottom">
            <li class="menu__item menu__item_bottom"><a href="#">Парикмахерская</a></li>
            <li class="menu__item menu__item_bottom"><a href="#">Барбершоп</a></li>
            <li class="menu__item menu__item_bottom"><a href="#">Маникюр</a></li>
            <li class="menu__item menu__item_bottom"><a href="#">Педикюр</a></li>
            <li class="menu__item menu__item_bottom"><a href="#">Массаж</a></li>
            <li class="menu__item menu__item_bottom"><a href="#">Мебель</a></li>
        </ul>
    </div>
</header>
